@charset "utf-8";
/* CSS Document */

div.post {
	width:500px;
} 
div.photo div.the-image img {
	width:100%;
	max-width:500px;
}
div.post-container img {
	max-width:500px;
}	
div#container, div#bottom, div#footer {
	width:545px;
	margin: 0px auto 0px 320px;
}
div#aboutDes {
	width:500px;
}
div#bottom {
	background-position: 30px 30px;		
}
div.post-meta {
	width:200px;
	position:absolute;
	left:560px;
}
div.a-post img.permalink {
		left:465px;
}
#bottom, #footer{
	margin: 0px auto 0px 360px !important;
}

/* for public  */
#credit-public{
	padding:25px 0px 15px 0px;
}
