@charset "utf-8";
/* CSS Document */

div.post {
	width:500px;
} 
div.photo div.the-image img {
	width:100%;
	max-width:500px;
}
div.post-container img {
	max-width:500px;
}	
div#container, div#bottom, div#footer {
	width:500px;
	margin: 0px auto 0px 320px;
}
div#aboutDes {
	width:500px;
	background: #8A6B57 url(http://u1.ipernity.com/4/81/01/3908101.7346eb80.png) no-repeat;
}
div#bottom {
	background-position: 15px 30px;		
}
div.post-meta {
	width:200px;
	position:absolute;
	left:540px;
}
div.a-post img.permalink {
	left:445px;
}
#bottom, #footer{
	margin: 0px auto 0px 350px !important;
}
div.subtitle h2 {
	margin-left:30px;
	width:500px;
}

/* for public  */
#credit-public{
	padding:25px 0px 15px 0px;
}
